@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    background-color: #F1F3ED;
}

nav {
    background-color: #97BA69;
    height: 60px;
    line-height: 60px;
}

nav .brand-logo {
    font-size: 1.5rem;
    padding-left: 20px;
    color: #FFF ;
}

div #page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul a {
    color: #FFF;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

#logo {
    height: auto;
    width: 70px;
}

div #paralax {
    padding: 0;
}

div #paralax-section {
    padding: 1.3em;
    background-color: #FFFFFF
}

div #paralax-section2 {
    padding: 1.3em;
    background-color: #FFFFFF;
}

.subject {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.table-of-contents a.active {
    border-left: 2px solid #8f5739;
}

.table-of-contents a:hover {
    border-left: 1px solid #8f5739
}

.carousel .carousel-item {
    width: 300px;
}

.card {
    background-color: #F5F0D0;
}

#hebergement .card {
    width: 30%;
}

.card .card-action {
    background-color: #c3a76d;

}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: white;
}

#cards-heber {
    display: flex;
    justify-content: space-around;
}

@media only screen and (min-width: 601px) {
    .navbar-fixed {
        height: 56px;
    }
}

@media only screen and (max-width: 992px) {
    div #sidebar {
        display: none;
    }

    #cards-heber {
        flex-flow: column;
    }
    #hebergement .card  {
        width: 100%;
    }

    .subject {
        flex-flow: column;
        align-items: center;
    }
}

.page-footer {
    padding-top: 20px;
    color: #000000;
    background-color: #c3a76d;
}

.title-home {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #97BA69;
}

blockquote h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

blockquote p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    padding-right: 30px;
}

.video-legende {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}

.title-card {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

.card-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

.card-text-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.0em;
    font-style: italic;
}

.modal-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1em;
}
